.logo img{
    width: 200px
}
.register{
    margin:0 10px
}
.MuiButton-containedPrimary{
    margin: 5px 20px!important;
    padding: 9px !important;
    background-color: #3F90FC!important;
    color: #FFFFFF;
}
.MuiButton-containedSecondary{
    padding: 9px !important;
    background-color: #434141!important;
    color: #FFFFFF;
}
.nav Link{
    padding: 20px
}
a{
    text-decoration: none;
    color: #0E0E0E!important;
    margin-right:10px
}
a:hover{
    text-decoration: none!important;
    color: #0E0E0E!important;
    margin-right:10px;
}
.form-inline{
    justify-content:center!important;
    margin-top: 40px;
}
